In [16]:
variable_iter=[5,6,7]

In [17]:
type(variable_iter)

list

In [18]:
for i in variable_iter:
    print(i)

5
6
7

In [19]:
lista=[0,2,3,4,5,6,7,8,9,11]

In [20]:
for num in lista:
    print(num)

0
2
3
4
5
6
7
8
9
11

In [21]:
for num in lista:
    if num%2==0:
        print(num)

0
2
4
6
8

In [23]:
lista_suma=0
for num in lista:
    lista_suma=lista_suma+num 
print(lista_suma)

55

In [24]:
cadena='Hola mundo'
for letra in cadena:
    print(letra)

H
o
l
a

m
u
n
d
o

In [25]:
tup=(1,2,4)

for i in tup:
    print(i)

1
2
4

In [26]:
list1=[(1,2),(3,4),(6,7),(9,11)]

In [27]:
len(list1)

4

In [28]:
for i in list1:
    print(i)

(1, 2)
(3, 4)
(6, 7)
(9, 11)

In [29]:
for (e1,e2) in list1:
    print(e2)

2
4
7
11

In [30]:
list1=[(1,2,3),(3,4,5),(8,9,10)]

In [31]:
for e1,e2,e3 in list1:
    print(e2)

2
4
9

In [32]:
d={'k1':100,'k2':333,'k3':433}

In [33]:
for i in d:
    print(i)

k1
k2
k3

In [34]:
for i in d.items():
    print(i)

('k1', 100)
('k2', 333)
('k3', 433)

In [35]:
for lla,val in d.items():
    print(val)

100
333
433

In [36]:
for val in d.values():
    print(val)

100
333
433

In [37]:
d.values()

dict_values([100, 333, 433])

In [38]:
d.items()

dict_items([('k1', 100), ('k2', 333), ('k3', 433)])

Dada una cadena de caracteres
contar cuántas veces se encuentra una
letra dada por el usuario

In [58]:
cadena=input('Ingresa una cadena ')
letra=input('Ingresa la letra para saber cuántas veces aparece ')
#verificar que letra tenga len 1
cont=0
cadena=cadena.lower()
letra=letra.lower()
if (len(letra)==1):
    print('Cuenta letras ')
    for i in cadena:
        if (i==letra):
            cont=cont+1
    print(cont)        
else:
    print('Opción no válida')

Ingresa una cadena UNIVERSIDAD
Ingresa la letra para saber cuántas veces aparece u
Cuenta letras
1

In [66]:
#contar cuántos números pares existen en una lista
lista_pares=[1,5,3,10,200,301,12,14,16,15]
cont=0
for i in lista_pares:
    if (i%2==0):
        cont=cont+1
print(f"Números pares en la lista: '{cont}'")

Números pares en la lista: '5'

Dada una lista, sumar los elementos,
ignorar las secciones donde se encuentre un 6 y
comenzar a sumar hasta encontrar un 7
[1,2,2,6,5,4,7,8]
1+2+2+8

In [72]:
lista=[1,2,7,6,5,4,5,7]
lista_suma=0
bandera=1 #encendida suma
for num in lista:
    if num==6:
        bandera=0
    if bandera==1:    
        lista_suma=lista_suma+num
    else:
        if num==7:
            bandera=1
print(lista_suma)

10