while condicion_booleana:
    #sentencias
else:
    #sentencias

In [1]:
x=0
y=0
while x<5:
    print('El valor de y es {r:1.3f}'.format(r=y))
    print('El valor de y es ',y)
    #x=x+1
    x+=1
    y=x/77
else:
    print('El ciclo finalizó o no se cumplió')

El valor de y es 0.000
El valor de y es  0
El valor de y es 0.013
El valor de y es  0.012987012987012988
El valor de y es 0.026
El valor de y es  0.025974025974025976
El valor de y es 0.039
El valor de y es  0.03896103896103896
El valor de y es 0.052
El valor de y es  0.05194805194805195
El ciclo finalizó o no se cumplió

break, continue, pass

break romper el ciclo más cercano con jerarquía mayor

continue va al ciclo más cercano con jerarquía mayor

pass no hace algo

In [4]:
x=[1,2,3,4,5,6]
for item in x:
    print(item)
    if item == 3:
        break
print('Fin del ciclo')

1
2
3
Fin del ciclo

In [1]:
for i in range(3,10):
    print (i)
    if i==6:
        break

3
4
5
6

In [2]:
string ='Nombre'
string1='-*'

In [3]:
for letra in string:
    if letra=='o':
        continue
    for letra1 in string1:
        print(letra1)
    print(letra)
    print("\n")

-
*
N


-
*
m


-
*
b


-
*
r


-
*
e

In [4]:
for letra in string:
    if letra=='m':
        break
    for letra1 in string1:
        print(letra1)
    print(letra)

-
*
N
-
*
o

In [5]:
x=0
while x<5:
    if x==2:
        break
    x+=1
    print(x)

1
2

In [6]:
#Ejemplo promedio
dato=0
prom=0
suma=0
cont=0
while dato!=-1:
    try:
        dato=float(input('Ingresa el dato, -1 para finalizar '))    
        if dato==-1:
            if(cont==0):
                cont=1
            break 
        suma+=dato #suma=suma+dato
        cont+=1
    except:
       print("El dato que ingresaste es invalido")
prom=suma/cont
print('El promedio es ',prom)

El dato que ingresaste es invalido
El dato que ingresaste es invalido
El promedio es  234.0

In [7]:
dato=float(input('Ingresa el dato, -1 para finalizar '))

ValueError: could not convert string to float: ''

In [8]:
#ejemplo factorial
dato=int(input('Ingresa número que deseas saber su factorial '))
#cont=dato
fact=1
cont=1
while cont!=dato:
    cont+=1
    fact=cont*fact
    #print(cont)
    #print(fact)
print(fact)

ValueError: invalid literal for int() with base 10: ''

In [9]:
for num in range (10): #inicia en 0 fin en paréntesis
    print(num)

0
1
2
3
4
5
6
7
8
9

In [10]:
for num in range (3,9): #inicio y fin
    print(num)

3
4
5
6
7
8

In [11]:
for num in range (2,11,2): #inicio, fin y paso
    print(num)

2
4
6
8
10

In [12]:
list(range(2,11,2))

[2, 4, 6, 8, 10]

In [13]:
cont_ind=0
for letra in 'abcde':
    print('El indice de la letra ', letra,'es ', cont_ind)
    cont_ind+=1

El indice de la letra  a es  0
El indice de la letra  b es  1
El indice de la letra  c es  2
El indice de la letra  d es  3
El indice de la letra  e es  4

In [14]:
cont_ind=0
cadena='abcde'
for letra in cadena:
    print(cadena[cont_ind])
    cont_ind+=1

a
b
c
d
e

In [19]:

cadena='abcde'
for item in enumerate(cadena):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [20]:
for indice,letra in enumerate(cadena):
    print(indice,letra)

0 a
1 b
2 c
3 d
4 e

In [25]:
lista1=[1,2,3,4]
lista2=['a','b','c','d','e']
lista3=[100,200,300,400]

In [27]:
for item in zip(lista1,lista2,lista3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)
(4, 'd', 400)

In [28]:
list(zip(lista1,lista2))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]

In [29]:
list(zip(lista1,lista2,lista3))

[(1, 'a', 100), (2, 'b', 200), (3, 'c', 300), (4, 'd', 400)]

In [31]:
len(lista3)

4

In [32]:
'x' in [1,2,3]

False

In [33]:
'x' in [1,2,3,'x']

True

In [34]:
2 in [1,2,3]

True

In [35]:
'a' in 'Hola'

True

In [36]:
'h' in 'Hola'

False

In [37]:
'k1' in {'k1':100,'k2':200}

True

In [38]:
'k3' in {'k1':100,'k2':200}

False

In [39]:
d={'k1':100,'k2':200,'k3':300}

In [40]:
300 in d.keys()

False

In [41]:
300 in d.values()

True

In [42]:
'k1' in d.keys()

True

In [43]:
lista=[10,20,30,40,100]

In [44]:
min(lista)

10

In [45]:
max(lista)

100

In [46]:
from random import shuffle

In [47]:
lista=[1,2,3,4,5,6,7,8,9,10]

In [53]:
shuffle(lista)

In [54]:
lista

[1, 5, 6, 10, 3, 7, 8, 9, 4, 2]

In [55]:
lista_nueva=shuffle(lista)

In [56]:
type(lista_nueva)

NoneType

In [57]:
lista_nueva=lista

In [58]:
lista_nueva

[2, 5, 3, 7, 8, 1, 6, 9, 10, 4]

In [59]:
from random import randint

In [63]:
randint(0,100)

2

In [64]:
randint(0,100)

68

In [65]:
num=randint(0,100)

In [66]:
num

77

In [67]:
cadena='hola'

In [68]:
lista=[]
for letra in cadena:
    lista.append(letra)

In [69]:
lista

['h', 'o', 'l', 'a']

In [72]:
cadena='hola2'

In [71]:
lista=[letra for letra in cadena]

In [75]:
lista

['h', 'o', 'l', 'a', '2']

In [76]:
lista1=[letra for letra in 'escrito']

In [77]:
lista1

['e', 's', 'c', 'r', 'i', 't', 'o']

In [78]:
lista2=[num for num in range (0,10)]

In [79]:
lista2

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [80]:
lista3=[num for num in range (3,10)]

In [81]:
lista3

[3, 4, 5, 6, 7, 8, 9]

In [82]:
lista3=[num for num in range (3,11,2)]

In [83]:
lista3

[3, 5, 7, 9]

In [90]:
lista3=[num for num in range (3,11) if num%2==0]

In [91]:
lista3

[4, 6, 8, 10]

In [92]:
kilogramos=[1,1.2,3,5,6,7]
gramos=[1000*num for num in kilogramos]

In [93]:
gramos

[1000, 1200.0, 3000, 5000, 6000, 7000]

In [94]:
resultado=[num if num%2==0 else 'impar' for num in range (0,11)]

In [95]:
resultado

[0, 'impar', 2, 'impar', 4, 'impar', 6, 'impar', 8, 'impar', 10]

In [97]:
lista=[]

for x in [2,4,6]:
    for y in [1,10,100]:
        lista.append(x*y)

In [98]:
lista

[2, 20, 200, 4, 40, 400, 6, 60, 600]

In [99]:
lista=[x*y for x in [2,4,6] for y in [1,10,100]]

In [100]:
lista

[2, 20, 200, 4, 40, 400, 6, 60, 600]

In [101]:
resultado=[num if num%3==0 else 'no divisible 3' for num in range (5,15)]

In [102]:
resultado

['no divisible 3',
 6,
 'no divisible 3',
 'no divisible 3',
 9,
 'no divisible 3',
 'no divisible 3',
 12,
 'no divisible 3',
 'no divisible 3']

In [114]:
num1=int(input('Limite inferior '))
num2=int(input('Limite superior '))
#condicion num1<num2
lista=[num1,num2]
num1=min(lista)
num2=max(lista)
print("Rango: ",num1,"-",num2)

lista=[i for i in range (num1,num2+1) if i%3==0]

print(lista)

Rango:  1 - 32
[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [115]:
num=4230

In [116]:
num=int(num/10)

In [117]:
num

423

In [118]:
num=int(num/10)

In [119]:
num

42

In [92]:
num=int(num/10)

In [93]:
num

4

In [94]:
num=int(num/10)

In [95]:
num

0

In [96]:
len(num)

TypeError: object of type 'int' has no len()

In [97]:
variable=int(input('Dame numero '))
cadena=str(variable)

Dame numero 120

In [98]:
len(cadena)

3