# Manejo de strings

In [58]:
string = "Hola Peter"

In [59]:
len(string)

10

In [60]:
string[0]

'H'

In [61]:
string[-1]

'r'

In [62]:
string[5:10]

'Peter'

In [63]:
string[:5]

'Hola '

In [64]:
string[5:]

'Peter'

In [65]:
num = len(string)
mitad = int(num/2)
mitad

5

In [66]:
string[:int(len(string)/2)]

'Hola '

In [67]:
string[0:10:2]

'Hl ee'

In [68]:
string[::2]

'Hl ee'

In [69]:
string[0:1]

'H'

In [70]:
string[::-1] #Invertir str

'reteP aloH'

In [71]:
nombre = "Tolvert"

In [72]:
nombre[0] = ´C´

SyntaxError: invalid character '´' (U+00B4) (<ipython-input-72-4303f8d65c54>, line 1)

In [73]:
nombre = "C" + nombre[1:] + " Gomez"
nombre

'Colvert Gomez'

In [74]:
nombre*2

'Colvert GomezColvert Gomez'

In [75]:
letra = "S"
letra = letra*7
letra

'SSSSSSS'

In [76]:
2+2

4

In [77]:
"2"+"2"

'22'

In [78]:
type(nombre)

str

In [79]:
nombre.upper()

'COLVERT GOMEZ'

In [80]:
nombre.lower()

'colvert gomez'

In [81]:
nombre = "Colvert Gomez Rubio"

In [82]:
nombre.split()

['Colvert', 'Gomez', 'Rubio']

In [84]:
type(nombre.split())

list

In [83]:
nombre.split()[2]

'Rubio'

In [53]:
nombre.split("o")

['C', 'lvert G', 'mez Rubi', '']