# Manejo de strings

In [1]:
string = "Hola Peter"

In [2]:
len(string)

10

In [3]:
string[0]

'H'

In [4]:
string[-1]

'r'

In [5]:
string[5:10]

'Peter'

In [6]:
string[:5]

'Hola '

In [11]:
string[-5:]

'Peter'

In [12]:
num = len(string)
mitad = int(num/2)
mitad

5

In [13]:
string[:int(len(string)/2)]

'Hola '

In [14]:
string[0:10:2]

'Hl ee'

In [15]:
string[::2]

'Hl ee'

In [16]:
string[0:1]

'H'

In [17]:
string[::-1] #Invertir str

'reteP aloH'

In [18]:
nombre = "Tolvert"

In [19]:
nombre[0] = ´C´

SyntaxError: invalid character '´' (U+00B4) (<ipython-input-19-4303f8d65c54>, line 1)

In [20]:
nombre = "C" + nombre[1:] + " Gomez"
nombre

'Colvert Gomez'

In [21]:
nombre*2

'Colvert GomezColvert Gomez'

In [22]:
letra = "S"
letra = letra*7
letra

'SSSSSSS'

In [23]:
2+2

4

In [24]:
"2"+"2"

'22'

In [25]:
type(nombre)

str

In [26]:
nombre.upper()

'COLVERT GOMEZ'

In [27]:
nombre.lower()

'colvert gomez'

In [28]:
nombre = "Colvert Gomez Rubio"

In [29]:
nombre.split()

['Colvert', 'Gomez', 'Rubio']

In [30]:
type(nombre.split())

list

In [31]:
nombre.split()[2]

'Rubio'

In [32]:
nombre.split("o")

['C', 'lvert G', 'mez Rubi', '']

In [33]:
print ("Mi nombre es {} y mi apellido es {}".format("Colvert","Gomez"))

Mi nombre es Colvert y mi apellido es Gomez

In [34]:
res = (100/77)
res

1.2987012987012987

In [35]:
print("El resultado es {r:1.3f}".format(r=res))

El resultado es 1.299

In [36]:
print(f"El resultado es {res:.2f}")

El resultado es 1.30